{% extends 'base.html' %}

{% block title %}
{% endblock %}


{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <p class="mb-3">
        <input type="text" class="form-control" placeholder="username" name="username"
        value="{{ request.user.username }}">
    </p>
    <p class="mb-3">
        <textarea name="about" cols="30" rows="10" class="form-control" placeholder="about">
{{ request.user.profile.about }}
        </textarea>
    </p>
    <p class="mb-3">
        <input type="file" class="form-control" name="avatar">
    </p>
    <button class="btn btn-info">submit</button>
</form>
{% endblock %}
