<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <title>
        {% block title %}

        {% endblock %}
    </title>

    {% include 'components/common/_styles.html' %}
</head>

<body>

{% include 'components/common/_header.html' %}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>


{% include 'components/common/_footer.html' %}

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->

{% include 'components/common/_scripts.html' %}

</body>

</html>
